your_service_name:
  build: .
  ports:
   - 9080:80
  env_file:
    - ./docker/develop.env
  volumes:
    - .:/srv/www
    - ./docker/api.conf:/etc/nginx/conf.d/api.conf
shell:
  build: .
  working_dir: /srv/www
  entrypoint: ["/bin/bash"]
  stdin_open: true
  tty: true
  volumes:
    - .:/srv/www
    - /root/.ssh:/root/.ssh

